/*
 * Notavia API
 * White-label notification engine. Authenticate with a bearer API key issued per environment. All `/v1/_*` paths require `Authorization: Bearer <api_key>`.  The OAuth install/callback routes (`/oauth/slack/_*`) require cookie authentication (dashboard session) rather than an API key. 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.notifyservice.api.api;

import com.notifyservice.api.ApiClient;
import com.notifyservice.api.ApiException;
import com.notifyservice.api.ApiResponse;
import com.notifyservice.api.Pair;

import com.notifyservice.api.model.DiscoverSso200Response;
import com.notifyservice.api.model.ServiceStatusResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class InternalApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public InternalApi() {
    this(new ApiClient());
  }

  public InternalApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Discover the SSO configuration for an email address&#39;s domain
   * Given a work email, returns whether the email&#39;s domain has an active enterprise SSO configuration and, if so, which protocol and whether force-SSO is enabled. Used by the dashboard login page to offer a \&quot;Continue with SSO\&quot; button and to hide the password field when force-SSO is on. Anonymous access; returns &#x60;{ \&quot;hasSso\&quot;: false }&#x60; for unknown domains so it does not double as an account-existence oracle. 
   * @param email  (required)
   * @return DiscoverSso200Response
   * @throws ApiException if fails to make API call
   */
  public DiscoverSso200Response discoverSso(String email) throws ApiException {
    ApiResponse<DiscoverSso200Response> localVarResponse = discoverSsoWithHttpInfo(email);
    return localVarResponse.getData();
  }

  /**
   * Discover the SSO configuration for an email address&#39;s domain
   * Given a work email, returns whether the email&#39;s domain has an active enterprise SSO configuration and, if so, which protocol and whether force-SSO is enabled. Used by the dashboard login page to offer a \&quot;Continue with SSO\&quot; button and to hide the password field when force-SSO is on. Anonymous access; returns &#x60;{ \&quot;hasSso\&quot;: false }&#x60; for unknown domains so it does not double as an account-existence oracle. 
   * @param email  (required)
   * @return ApiResponse&lt;DiscoverSso200Response&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DiscoverSso200Response> discoverSsoWithHttpInfo(String email) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = discoverSsoRequestBuilder(email);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("discoverSso", localVarResponse);
        }
        return new ApiResponse<DiscoverSso200Response>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<DiscoverSso200Response>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder discoverSsoRequestBuilder(String email) throws ApiException {
    // verify the required parameter 'email' is set
    if (email == null) {
      throw new ApiException(400, "Missing the required parameter 'email' when calling discoverSso");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/sso/discover";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "email";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("email", email));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Public service status
   * Returns the current operational status of the service, per-component statuses, any active incidents, and incidents resolved within the last 14 days. Anonymous access; no API key required. CORS-enabled for any origin (&#x60;InboxEmbeddable&#x60; policy). 
   * @return ServiceStatusResponse
   * @throws ApiException if fails to make API call
   */
  public ServiceStatusResponse getServiceStatus() throws ApiException {
    ApiResponse<ServiceStatusResponse> localVarResponse = getServiceStatusWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Public service status
   * Returns the current operational status of the service, per-component statuses, any active incidents, and incidents resolved within the last 14 days. Anonymous access; no API key required. CORS-enabled for any origin (&#x60;InboxEmbeddable&#x60; policy). 
   * @return ApiResponse&lt;ServiceStatusResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ServiceStatusResponse> getServiceStatusWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getServiceStatusRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getServiceStatus", localVarResponse);
        }
        return new ApiResponse<ServiceStatusResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<ServiceStatusResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getServiceStatusRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/status";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Fetch the workflow DSL JSON Schema
   * Returns the embedded &#x60;workflow.schema.json&#x60; resource. Used by the dashboard Monaco editor to provide structural validation and auto-complete. Anonymous access; cached aggressively (&#x60;Cache-Control: public, max-age&#x3D;3600&#x60;). A &#x60;X-Schema-Sha256&#x60; response header carries the SHA-256 of the content for cache invalidation. 
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object getWorkflowSchema() throws ApiException {
    ApiResponse<Object> localVarResponse = getWorkflowSchemaWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * Fetch the workflow DSL JSON Schema
   * Returns the embedded &#x60;workflow.schema.json&#x60; resource. Used by the dashboard Monaco editor to provide structural validation and auto-complete. Anonymous access; cached aggressively (&#x60;Cache-Control: public, max-age&#x3D;3600&#x60;). A &#x60;X-Schema-Sha256&#x60; response header carries the SHA-256 of the content for cache invalidation. 
   * @return ApiResponse&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Object> getWorkflowSchemaWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getWorkflowSchemaRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getWorkflowSchema", localVarResponse);
        }
        return new ApiResponse<Object>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Object>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getWorkflowSchemaRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/workflows/schema.json";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
