/*
 * Notavia API
 * White-label notification engine. Authenticate with a bearer API key issued per environment. All `/v1/_*` paths require `Authorization: Bearer <api_key>`.  The OAuth install/callback routes (`/oauth/slack/_*`) require cookie authentication (dashboard session) rather than an API key. 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.notifyservice.api.api;

import com.notifyservice.api.ApiClient;
import com.notifyservice.api.ApiException;
import com.notifyservice.api.ApiResponse;
import com.notifyservice.api.Pair;

import com.notifyservice.api.model.ErrorEnvelope;
import com.notifyservice.api.model.NotificationPage;
import com.notifyservice.api.model.NotificationResponse;
import java.time.OffsetDateTime;
import com.notifyservice.api.model.SendNotificationRequest;
import java.util.UUID;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class NotificationsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public NotificationsApi() {
    this(new ApiClient());
  }

  public NotificationsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get a notification by id
   * 
   * @param id  (required)
   * @return NotificationResponse
   * @throws ApiException if fails to make API call
   */
  public NotificationResponse getNotification(UUID id) throws ApiException {
    ApiResponse<NotificationResponse> localVarResponse = getNotificationWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * Get a notification by id
   * 
   * @param id  (required)
   * @return ApiResponse&lt;NotificationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<NotificationResponse> getNotificationWithHttpInfo(UUID id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getNotificationRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getNotification", localVarResponse);
        }
        return new ApiResponse<NotificationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<NotificationResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getNotificationRequestBuilder(UUID id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getNotification");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/notifications/{id}"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List notifications with cursor pagination
   * 
   * @param status  (optional)
   * @param recipient  (optional)
   * @param createdAfter  (optional)
   * @param createdBefore  (optional)
   * @param limit  (optional, default to 20)
   * @param cursor  (optional)
   * @return NotificationPage
   * @throws ApiException if fails to make API call
   */
  public NotificationPage listNotifications(String status, String recipient, OffsetDateTime createdAfter, OffsetDateTime createdBefore, Integer limit, String cursor) throws ApiException {
    ApiResponse<NotificationPage> localVarResponse = listNotificationsWithHttpInfo(status, recipient, createdAfter, createdBefore, limit, cursor);
    return localVarResponse.getData();
  }

  /**
   * List notifications with cursor pagination
   * 
   * @param status  (optional)
   * @param recipient  (optional)
   * @param createdAfter  (optional)
   * @param createdBefore  (optional)
   * @param limit  (optional, default to 20)
   * @param cursor  (optional)
   * @return ApiResponse&lt;NotificationPage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<NotificationPage> listNotificationsWithHttpInfo(String status, String recipient, OffsetDateTime createdAfter, OffsetDateTime createdBefore, Integer limit, String cursor) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listNotificationsRequestBuilder(status, recipient, createdAfter, createdBefore, limit, cursor);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listNotifications", localVarResponse);
        }
        return new ApiResponse<NotificationPage>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<NotificationPage>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listNotificationsRequestBuilder(String status, String recipient, OffsetDateTime createdAfter, OffsetDateTime createdBefore, Integer limit, String cursor) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/notifications";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "recipient";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("recipient", recipient));
    localVarQueryParameterBaseName = "created_after";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created_after", createdAfter));
    localVarQueryParameterBaseName = "created_before";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created_before", createdBefore));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "cursor";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cursor", cursor));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Send a notification
   * Persists the notification and dispatches it via the requested channel. Returns &#x60;202 Accepted&#x60; on the first successful call. Returns &#x60;200 OK&#x60; when the same &#x60;Idempotency-Key&#x60; is replayed within 24 hours. 
   * @param sendNotificationRequest  (required)
   * @param idempotencyKey Client-generated key (UUID recommended). Repeat requests with the same key within 24 hours return the original response without re-sending.  (optional)
   * @return NotificationResponse
   * @throws ApiException if fails to make API call
   */
  public NotificationResponse sendNotification(SendNotificationRequest sendNotificationRequest, String idempotencyKey) throws ApiException {
    ApiResponse<NotificationResponse> localVarResponse = sendNotificationWithHttpInfo(sendNotificationRequest, idempotencyKey);
    return localVarResponse.getData();
  }

  /**
   * Send a notification
   * Persists the notification and dispatches it via the requested channel. Returns &#x60;202 Accepted&#x60; on the first successful call. Returns &#x60;200 OK&#x60; when the same &#x60;Idempotency-Key&#x60; is replayed within 24 hours. 
   * @param sendNotificationRequest  (required)
   * @param idempotencyKey Client-generated key (UUID recommended). Repeat requests with the same key within 24 hours return the original response without re-sending.  (optional)
   * @return ApiResponse&lt;NotificationResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<NotificationResponse> sendNotificationWithHttpInfo(SendNotificationRequest sendNotificationRequest, String idempotencyKey) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = sendNotificationRequestBuilder(sendNotificationRequest, idempotencyKey);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("sendNotification", localVarResponse);
        }
        return new ApiResponse<NotificationResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<NotificationResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder sendNotificationRequestBuilder(SendNotificationRequest sendNotificationRequest, String idempotencyKey) throws ApiException {
    // verify the required parameter 'sendNotificationRequest' is set
    if (sendNotificationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'sendNotificationRequest' when calling sendNotification");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/notifications";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (idempotencyKey != null) {
      localVarRequestBuilder.header("Idempotency-Key", idempotencyKey.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(sendNotificationRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
