/*
 * Notavia API
 * White-label notification engine. Authenticate with a bearer API key issued per environment. All `/v1/_*` paths require `Authorization: Bearer <api_key>`.  The OAuth install/callback routes (`/oauth/slack/_*`) require cookie authentication (dashboard session) rather than an API key. 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.notifyservice.api.api;

import com.notifyservice.api.ApiClient;
import com.notifyservice.api.ApiException;
import com.notifyservice.api.ApiResponse;
import com.notifyservice.api.Pair;

import com.notifyservice.api.model.AddSuppressionRequest;
import com.notifyservice.api.model.ErrorEnvelope;
import com.notifyservice.api.model.SuppressionPage;
import com.notifyservice.api.model.SuppressionResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.10.0")
public class SuppressionsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SuppressionsApi() {
    this(new ApiClient());
  }

  public SuppressionsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Manually add an address to the suppression list
   * Manually adds an address to the suppression list. If the address is already suppressed, the existing entry is returned with &#x60;200&#x60; instead of &#x60;201&#x60;. Requires a full-access API key. 
   * @param addSuppressionRequest  (required)
   * @return SuppressionResponse
   * @throws ApiException if fails to make API call
   */
  public SuppressionResponse addSuppression(AddSuppressionRequest addSuppressionRequest) throws ApiException {
    ApiResponse<SuppressionResponse> localVarResponse = addSuppressionWithHttpInfo(addSuppressionRequest);
    return localVarResponse.getData();
  }

  /**
   * Manually add an address to the suppression list
   * Manually adds an address to the suppression list. If the address is already suppressed, the existing entry is returned with &#x60;200&#x60; instead of &#x60;201&#x60;. Requires a full-access API key. 
   * @param addSuppressionRequest  (required)
   * @return ApiResponse&lt;SuppressionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SuppressionResponse> addSuppressionWithHttpInfo(AddSuppressionRequest addSuppressionRequest) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = addSuppressionRequestBuilder(addSuppressionRequest);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("addSuppression", localVarResponse);
        }
        return new ApiResponse<SuppressionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SuppressionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder addSuppressionRequestBuilder(AddSuppressionRequest addSuppressionRequest) throws ApiException {
    // verify the required parameter 'addSuppressionRequest' is set
    if (addSuppressionRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'addSuppressionRequest' when calling addSuppression");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/suppressions";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(addSuppressionRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get a suppression by address
   * Requires a full-access API key.
   * @param address The email address to look up. URL-encode special characters. (required)
   * @return SuppressionResponse
   * @throws ApiException if fails to make API call
   */
  public SuppressionResponse getSuppression(String address) throws ApiException {
    ApiResponse<SuppressionResponse> localVarResponse = getSuppressionWithHttpInfo(address);
    return localVarResponse.getData();
  }

  /**
   * Get a suppression by address
   * Requires a full-access API key.
   * @param address The email address to look up. URL-encode special characters. (required)
   * @return ApiResponse&lt;SuppressionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SuppressionResponse> getSuppressionWithHttpInfo(String address) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getSuppressionRequestBuilder(address);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getSuppression", localVarResponse);
        }
        return new ApiResponse<SuppressionResponse>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SuppressionResponse>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getSuppressionRequestBuilder(String address) throws ApiException {
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling getSuppression");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/suppressions/{address}"
        .replace("{address}", ApiClient.urlEncode(address.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * List suppressed addresses with cursor pagination
   * Returns a cursor-paginated list of suppressed addresses for the authenticated environment. Requires a full-access API key. 
   * @param address Filter to entries whose address equals this value. (optional)
   * @param reason Filter by suppression reason (case-insensitive). Note these filter values are the enum names, distinct from the snake_case values returned in the &#x60;reason&#x60; response field.  (optional)
   * @param limit  (optional, default to 25)
   * @param cursor  (optional)
   * @return SuppressionPage
   * @throws ApiException if fails to make API call
   */
  public SuppressionPage listSuppressions(String address, String reason, Integer limit, String cursor) throws ApiException {
    ApiResponse<SuppressionPage> localVarResponse = listSuppressionsWithHttpInfo(address, reason, limit, cursor);
    return localVarResponse.getData();
  }

  /**
   * List suppressed addresses with cursor pagination
   * Returns a cursor-paginated list of suppressed addresses for the authenticated environment. Requires a full-access API key. 
   * @param address Filter to entries whose address equals this value. (optional)
   * @param reason Filter by suppression reason (case-insensitive). Note these filter values are the enum names, distinct from the snake_case values returned in the &#x60;reason&#x60; response field.  (optional)
   * @param limit  (optional, default to 25)
   * @param cursor  (optional)
   * @return ApiResponse&lt;SuppressionPage&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SuppressionPage> listSuppressionsWithHttpInfo(String address, String reason, Integer limit, String cursor) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = listSuppressionsRequestBuilder(address, reason, limit, cursor);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("listSuppressions", localVarResponse);
        }
        return new ApiResponse<SuppressionPage>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          localVarResponse.body() == null ? null : memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<SuppressionPage>() {}) // closes the InputStream
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder listSuppressionsRequestBuilder(String address, String reason, Integer limit, String cursor) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/suppressions";

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "address";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("address", address));
    localVarQueryParameterBaseName = "reason";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reason", reason));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));
    localVarQueryParameterBaseName = "cursor";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("cursor", cursor));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Remove an address from the suppression list
   * Requires a full-access API key.
   * @param address The email address to remove. URL-encode special characters. (required)
   * @throws ApiException if fails to make API call
   */
  public void removeSuppression(String address) throws ApiException {
    removeSuppressionWithHttpInfo(address);
  }

  /**
   * Remove an address from the suppression list
   * Requires a full-access API key.
   * @param address The email address to remove. URL-encode special characters. (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> removeSuppressionWithHttpInfo(String address) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = removeSuppressionRequestBuilder(address);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("removeSuppression", localVarResponse);
        }
        return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
            // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder removeSuppressionRequestBuilder(String address) throws ApiException {
    // verify the required parameter 'address' is set
    if (address == null) {
      throw new ApiException(400, "Missing the required parameter 'address' when calling removeSuppression");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/suppressions/{address}"
        .replace("{address}", ApiClient.urlEncode(address.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
